.cart_page{
   margin-left: 30px; 
}
.cart_product{
    margin-left: 100px;
}
.total_amount{
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
@media only screen and (max-width:600px){
    .cart_page{
        margin-left: 0px; 
     }
     .cart_product{
        margin-left: 0px;
    }
    .total_amount{
        margin-left: 0px;
    }
}