/* .slick-slider.slick-initialized {
    width: 100vw;
  }
  .slick-arrow.slick-prev {
    background: black;
  }
  .slick-arrow.slick-next {
    background: black;
  } */
  /* .slick-prev:before,.slick-next:before {
    color: red;
  } */
  .slick-prev {
    left: 4% !important;
    z-index: 1;
  }
  .slick-next {
    right: 4% !important;
    z-index: 1;
  }