.header{
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
    /* padding: 1% 2%; */
    background-color: #F1F0F0;
    position: sticky;
    top: 0px;
    align-items: center;
}
.header>div:first-child{
    /* border: 1px solid red; */
    padding: 1% 3%;
}

.header>div:nth-child(2){
    padding: 1% 3%;
}